<div class="container-fluid">
    <div class="container my-3 shadow py-2">

        <div class="h2 border-bottom py-2 text-center">Set A</div>

        <p class="h6">1. How to create reactive forms?</p>
        <p><strong>Answer:</strong>To create reactive forms in Angular is to  Import ReactiveForms Module in your module file and  Create a FormGroup and FormControl in your component.
        </p>

        <p class="h6">2. How to add built-in validation for email in reactive form?</p>
        <p><strong>Answer:</strong>To add built-in email validation in a reactive form is use Validators email with FormControl. 
        </p>
        
        <p class="h6">3. How to add built-in validation for required fields in reactive form?</p>
        <p><strong>Answer:</strong>.To add built-in validation for required fields in a reactive form, use the Validators.required validator when defining the form control. </p>

        <p class="h6">4. How to add regex validation for reactive forms?</p>
        <p><strong>Answer: </strong>To add regex validation in reactive forms, use the Validators.pattern validator when defining a form control.
        </p>

        <p class="h6">5. How to generate routing?</p>
        <p><strong>Answer: </strong>To generate routing in an Angular application, use the Angular CLI command and This creates a dedicated routing module and integrates it with the main application module. You can then define and manage routes in the newly created module.</p>

        <p class="h6">6. How to configure routes with parameters?</p>
        <p><strong>Answer: </strong>Define a route with a parameter in the RouterModule configuration, using a colon before the parameter name. And Access the parameter in the component using ActivatedRoute
        </p>

        <p class="h6">7. What is DebounceTime in RxJS?</p>
        <p><strong>Answer: </strong>debounceTime in RxJS is an operator that delays the emission of values from an observable by a specified time duration, emitting only the latest value after the specified time if no new values are emitted during that period.
        </p>

        <p class="h6">8. What is pipe operator?</p>
        <p><strong>Answer: </strong>The pipe operator  is used in programming to pass the output of one function, command, or expression as the input to another, creating a streamlined sequence of operations is commonly used in Unix/Linux shell scripting and functional programming languages.
        </p>

        <p class="h6">9. What is distinctUntilChanged operator?</p>
        <p><strong>Answer: </strong> The distinctUntilChanged operator in RxJS emits values only when the current value is different from the previous one, preventing duplicate consecutive emissions.
        </p>

        <p class="h6">10. What is filter operator in RxJs?</p>
        <p><strong>Answer: </strong> In RxJS, the filter operator is used to emit only those values from an observable that satisfy a specified predicate function, effectively filtering out unwanted values.</p>

    </div>
</div>